body{
    font-family:sans-serif;
    text-align:center;
    background-color:#1C1C1C;
    display: grid;
    place-items: center;
  }
  .main{
    padding:1em;
    background-color:#424242;
    opacity:0.7;
    width:30em;
    height:12em;
    color:white;
    border-radius:50px;
    
  }
  .wicon{
    width:6em;
    height:6em;
    border-radius:100%;
    position:absolute;
    top:25%;
    box-shadow:0 0 1em white;
    border-style:solid;
    color:white;
  }
  .ex{
    padding:10px;
    font-size:0.8em;
    opacity:0.3;
  }
  .clouds{
    background: linear-gradient(blue,white);
  }
  .clear{
    background: linear-gradient(red,yellow);
  }
  .rain{
    background: linear-gradient(blue,green);
  }
  .snow{
    background: linear-gradient(grey,white);
  }
  i{
    padding: .1em;
  }